/* 헤더 */
#fh5co-offcanvas {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 500px;
    z-index: 99999;
    overflow-y: auto;
    opacity: 0;
    display: none;
    box-shadow: 0px 6px 18px rgba(0,0,0,.1);
  }
  @media screen and (max-width: 768px) {
    #fh5co-offcanvas {
      padding-top: 30px;
      width: 270px;
    }
  }
  #fh5co-offcanvas .fh5co-close-offcanvas {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    width: 30px;
    overflow: hidden;
    color: #cccccc;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  @media screen and (max-width: 768px) {
    #fh5co-offcanvas .fh5co-close-offcanvas {
      top: 5px;
    }
  }
  #fh5co-offcanvas .fh5co-close-offcanvas:hover {
    width: 85px;
    color: #000;
  }
  #fh5co-offcanvas .fh5co-close-offcanvas > span {
    width: 100px;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
  }
  #fh5co-offcanvas .fh5co-close-offcanvas > span > span {
    top: 7px;
    position: relative;
    font-size: 18px;
    vertical-align: top;
  }
  #fh5co-offcanvas .fh5co-box {
    float: left;
    margin-bottom: 30px;
    width: 100%;
  }
  #fh5co-offcanvas .fh5co-menu,
  #fh5co-offcanvas .fh5co-bio {
    width: 100%;
    padding: 50px;
    text-align: center;
    /* 22.12.27 */
  }
  .fh5co-bio p {
    color: teal;
    margin-bottom: -50px;
  }
  @media screen and (max-width: 768px) {
    #fh5co-offcanvas .fh5co-menu,
    #fh5co-offcanvas .fh5co-bio {
      width: 100%;
      padding: 30px;
    }
  }
  #fh5co-offcanvas .fh5co-bio {
    text-align: center;
    float: left;
  }
  #fh5co-offcanvas .fh5co-bio figure {
    text-align: center;
    display: block;
    margin-bottom: 30px;
  }
  #fh5co-offcanvas .fh5co-bio img {
    width: 180px;
    margin: 0 auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 40%;
  }
  #fh5co-offcanvas .fh5co-bio p {
    font-size: 16px;
  }
  #fh5co-offcanvas .heading {
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #cccccc;
    margin-bottom: 30px;
  }
  #fh5co-offcanvas .fh5co-menu {
    float: right;
  }
  #fh5co-offcanvas .fh5co-menu ul {
    padding: 0;
    margin: 0;
  }
  #fh5co-offcanvas .fh5co-menu ul li {
    padding: 0;
    margin: 0 0 10px 0;
    list-style: none;
    display: block;
  }
  #fh5co-offcanvas .fh5co-menu ul li a {
    color: #000;
  }
  /* 로그아웃 */
#logout {
  color: #000;
  cursor: pointer;
  text-align: center;
}
/* 높이값 */
.heading1 {
  margin-top: -20px;
}
.heading2 {
  margin-top: 10px;
}
#fh5co-header {
  padding: 3em 3em;
  float: left;
  width: 100%;
}
@media screen and (max-width: 1200px) {
  #fh5co-header {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 480px) {
  #fh5co-header {
    padding-bottom: 5em !important;
  }
}
#fh5co-header .fh5co-nav-toggle {
  position: absolute;
  top: 4.2em;
  left: 3em;
  z-index: 99;
}
@media screen and (max-width: 1200px) {
  #fh5co-header .fh5co-nav-toggle {
    top: 4em;
    left: 15px;
  }
}
@media screen and (max-width: 768px) {
  #fh5co-header .fh5co-nav-toggle {
    top: 2.5em;
    left: 15px;
  }
}
#fh5co-header .fh5co-social {
  position: absolute !important;
  right: 3em !important;
  top: 3.2em;
  z-index: 99;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 1200px) {
  #fh5co-header .fh5co-social {
    right: 15px !important;
    top: 3.2em;
  }
}
@media screen and (max-width: 768px) {
  #fh5co-header .fh5co-social {
    right: 15px !important;
    top: 1.5em;
  }
}
@media screen and (max-width: 480px) {
  #fh5co-header .fh5co-social {
    right: inherit !important;
    left: inherit !important;
    top: 5em;
    left: 50% !important;
    margin-left: -50px;
  }
}
@media screen and (max-width: 768px) {
  #fh5co-header {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 15px;
    padding-right: 15px;
  }
}
/* <!--22.12.27--> */
#fh5co-header #fh5co-logo {
  text-align: left;
  padding-left: 30px;
  justify-content: center;
}

#fh5co-header #fh5co-logo a {
  color: #000;
}
#fh5co-header #fh5co-logo a sup {
  font-size: 20px;
  top: -20px;
}
/* 로고부분 */
.row img {
  height: 70px;
  margin-top: -20px;
}




/* 푸터 */
#fh5co-footer {
  padding: 3em 0;
  text-align: center;
}
/* sns 아이콘 */
.fh5co-social1 {
  padding: 0;
  margin: 30px 0 0 0;
  position: relative;
  cursor: pointer;
  text-align: center;
}
.fh5co-social1 li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
}
.fh5co-social1 li {
  font-size: 20px;
  padding: 6px;
  color: #000;
}
.fh5co-social img {
  height: 35px;
  margin-top: 30px;
}

figure figcaption {
  padding-top: 15px;
  font-size: 14px;
  color: #999999;
}

/* 사이드 */
.form-control {
    box-shadow: none;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.1);
    height: 54px;
    font-size: 18px;
    font-weight: 300;
  }
  .form-control:active, .form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #f7c873;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", times, serif;
    color: #000;
  }  